html, body, #root, .App, .Hull {
    width:100%;
    height:100%;
}

body {
    margin:0;
}

.Hull {
    display:grid;
    grid-template-rows: auto 1fr;
}

.Block {
    padding: 1vh 1vw;
}

.header {
    display:flex;
    flex-flow:row-reverse;
    justify-content: space-between;

    .Menu {
        .Pane {
            position:absolute;
            white-space:nowrap;
            right:0;
            padding:1vh 1vw;
            z-index:1000;
        }
    }

    .Link {
        font-size:1.2em;
    }
}